{% extends 'base.html' %}
{% block title %}
    {{ block.super }} | Tweets
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            loadTweetContainer("tweet-container")
        });
    </script>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-sm-3 col-xs-12" style="background-color: #31c6fe">
            <h3>{{ request.user }}</h3>
        </div>
        <div class="col-sm-9">
            {% if not request.GET.q %}
                <div>
                    {% include 'twitter_app/form.html' with form=create_form action_url=create_url btn_title='Tweet' form_id='tweet-form' %}
                </div>
                <hr>
            {% endif %}


            <div id="tweet-container" data-url="/api/tweet/">


            </div>
            <a href="#" id="loadmore">Load More Tweets</a>


        </div>
    </div>
{% endblock %}


